<div class="container">
  <h1><%= @user.username %></h1>
<br>
<h3>My Stuff</h3>
<br>
  <div class="row">
    <div class="col-md-6">
      <% @user.foods.each do |food| %>
        <%= link_to (image_tag food.image_url(:thumb).to_s), food %>
        <h3><%= food.name %></h3>
      <% end %>
    </div>
  </div>
</div>