<div class="text-center landing_title">
  <h2><span><%= link_to "your backyard  has what you need", categories_path, class: "btn btn-alert btn-lg btn-landing" %><span class='spacer'></span></h2>
  <h2><span>It starts in your backyard<span class='spacer'></span></h2>
  <h2><span>use what you have<span class='spacer'></span></h2>
</div>


