<div class="container">
  <div class="row">
    <div class="col-md-4">
      <center>
      <% @foods.each do |food| %>
        <%= image_tag food.image_url(:thumb).to_s %>
        <h3><%= link_to food.name, food %></h3>
      <% end %>
       <br/>
      <h4><%= link_to 'New', new_food_path %></h4>
      </center>
    </div>
  </div>
</div>

