<div class="container">
  <div class="row">
    <div class="col-md-6">

      <% @foods.each do |food| %>
        <ul>
          <%= image_tag food.image_url(:thumb).to_s %>
          <h3><%= link_to food.name, food %></h3>
        </ul>
      <% end %>
    <br/>
    <h4><%= link_to 'New', new_food_path %></h4>
    </div>
  </div>
</div>



