<div class="jumbotron">
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>So you know how to cook? Even your friends and family say you should open your own restaurant?.</P>
      <h3><ul>Steps:</h3>
      <li>Have a licensed kitchen</li>
      <li>Find a licensed kitchen / rent places like churches, restaurant in their down hours, food truck. etc/li>
      <li>Be certified. Health food card / sersave</li>
      <li>Unleash the chef in you</li>

      <% @foods.each do |food| %>
        <h3><%= link_to food.name, food %></h3>
      <% end %>
      <br/>
      <%= link_to 'New', new_food_path %>
    </div>
  </div>
</div>

