/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require font-awesome
 *= require_self
 */

 #unstyled {
   padding: 0;
   margin: 0;
   list-style: none;
 }

 body {
  padding-top: 70px;
 }

 #sticky {
  margin: auto;
  position: fixed;
  z-index:1000;
  top: 0px;
  width: 100%;
  height: 50px;
  left: 0px;
  right: 0px;
  /* Adds to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  -moz-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
  /* Adds the transparent background */

  opacity: 0.9;
}

div.nav_item {
  margin-left: 15px;
  float: left;
}

#sticky li {
  display: inline-block;
  padding-right: 2px;
  float: none;
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;
}

.pull-left li {
  font-size: 13px;
}

.nav li {
  display: inline;
}

.li {
  display: inline-block;
  list-style: none;
}

.jumbotron {
  height:500px;
}

.jumbotron .container {
  position: relative;
  top:80px;
}

.jumbotron h3 {
  color: red;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: red;
}

.learn-more {

}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
  border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
  color: #393c3d;
  font-size: 24px;
}

.neighborhood-guides p {
  font-size: 15px;
  margin-bottom: 13px;
}

input[type=checkbox] {
  display: inline;
  margin-left: 1em;
  margin-right: 0.5em;
  line-height: 3em;
}