.landing_title {
  padding-top: 200px;
}

.landing {
  background: image-url("wooden.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
}

.btn-landing {
  background: none;
  border: solid;
}

.btn-landing:hover {
  background: none;
  border-color: white;
}

.navbar {
  margin-bottom: 0px;
}