<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Categories</h3>
      <% if user_signed_in? and current_user.admin? %>
        <h6><%= link_to "Add Category", new_category_path %></h6>
        <h6><%= link_to "Add Location", locations_path %></h6>
      <% end %>
      <br>
      <br>
      <% @categories.each do |category| %>
        <div class="col-md-4">
          <center><%= link_to (image_tag category.photo_url(:thumb).to_s), category %></center>
          <h4 class="text-center"><%= link_to category.name, category %></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>