<%= simple_form_for @location, :html => {:class => 'form-signin' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :address, label: false, placeholder: "city and state" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-info btn-block" %>
  </div>
<% end %>
