<div id="sticky">
  <div class="nav">
    <div class="container">
      <div class="row">
        <ul class="pull-left">
          <li>
          <%= link_to "//gobo", root_path %>
          </li>
        </ul>
        <ul class="pull-right">

        </ul>
      </div>
    </div>
  </div>
</div>